.filter-img {
    filter: brightness(50%);
}

.carousel-caption {
    padding-bottom: 80px;
}

.carousel-caption h1 {
    font-size: 60px;
}

.back-color {
    background-color: #F4FAFD;
}

.back-color-2 {
    background-color: #289BDE;
}

.icons {
    color: #F59E0B;
}

#color-none {
    color: rgb(145, 134, 134);
}